<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two</title>
</head>
<body>
    <div style="text-align: center;">
    <h3>Primeiro contato com programação</h3>
    <img src="IMG/Curso.jpg" width="500px" height="248px">
    <h3>Linguagens:</h3>
    <li>HTML</li>
    <li>CSS</li>
    <li>JAVASCRIPT</li>
    <br>
    <a href="/">Previous</a>
    <a href="/Three">Next</a>
    </div>
</body>
</html>